<!DOCTYPE html>
<html lang="en">
<head>
    <link href="../static/assets/img/favicon.png" rel="icon">
    <link rel="stylesheet" href="../static/assets/css/error.css">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:500" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Titillium+Web:700,900" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Error!</title>
</head>
<body>
    <div id="notfound">
        <div class="notfound">
            <h1>403</h1>
            <h2>Forbidden Access.</h2>
            <p>
                Looks like you are not allowed to access this page.
            </p>
            <br><br>
            <a href="/">Go to Homepage</a>
        </div>
    </div>
</body>
</html>