<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">

<head>
	<title></title>
    {% load static %}
	<link href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css" rel="stylesheet" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/2.3.2/css/bootstrap.min.css" rel="stylesheet" />
	<link href="//cdnjs.cloudflare.com/ajax/libs/font-awesome/3.2.1/css/font-awesome.min.css" rel="stylesheet" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.3/jquery.min.js"></script>
	<script src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
</head>

<body>
	<h1>Toastr with FontAwesome Icons</h1>
	<ul class="icons-ul">
		<li><i class="icon-li icon-ok"></i>Embedded icon using the &lt;i&gt; tag</li>
		<li><i class="icon-li icon-ok"></i>Doesn't work with background-image</li>
		<li><i class="icon-li icon-ok"></i>We can use the :before psuedo class</li>
		<li><i class="icon-li icon-ok"></i>Works in IE8+, FireFox 21+, Chrome 26+, Safari 5.1+, most mobile browsers
		</li>
		<li><i class="icon-li icon-ok"></i>See <a href="http://caniuse.com/#search=before">CanIUse.com</a> for browser
			support</li>
	</ul>
	<button class="btn btn-primary" id="tryMe">Try Me</button>
    <script>toastr.success('{{info}}');</script>
</body>

</html>