{% extends 'Advertiser/base.html' %}

{% block content %}
<div class="section-title" data-aos="fade-up">
  <br><br>
  <h2>This is how your screen is!</h2>
  <p>{{screen_name}}</p>
</div>
<!-- Carousel starts -->
{% if not screen_empty %}
<div class = "container">
<div class="fadein">
  <img src = "../static/assets/img/adware.png">
  <img src = "../static/assets/img/adware.png">
</div>
</div>
{% else %}
<div class = "container">
<div class="fadein">
  {% for i in urls%}
  <img src = "/media/{{i}}">
  {% endfor %}
</div>
</div>
<br><br>
{% endif %}
<!-- Carousel ends -->
</section>
{% endblock %}