{% extends 'Advertiser/base.html' %}

{% block content %}

{% load crispy_forms_tags %}
<section id="services" class="services">
    <script src="/static/assets/js/copy.js"></script>
    <!-- toast message -->
      {% if info %}
      <script>toastr.{{msgtype}}('{{info}}')</script>
      {% endif %}
    <!-- toast message end -->
      <!-- New Screen form Modal Starts -->
      <form  action="/scr/new/" method="post">
        {% csrf_token %}
      <div class="modal fade" tabindex="-1" role="dialog" id="NewScreen">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">New Screen</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
              {{f1|crispy}}
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              <button type="Submit" class="btn btn-primary">Create Screen</button>
            </div>
          </div>
        </div>
      </div>
      </form>
      <!-- New Screen form Modal Ends -->
        <!-- Start Subscription Modal -->
    <div class="modal fade bd-example-modal-lg" tabindex="-1" role="dialog" aria-labelledby="myLargeModalLabel" aria-hidden="true" id="myscreens">
        <div class="modal-dialog modal-lg">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Your Screens</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <table class="table table-hover" >
                            <tr class="table-primary">
                                <th>Screen Name</th>
                                <th>Screen Size</th>
                                <th>Adds Remaining</th>
                                <th>Adware API token</th>
                            </tr>

                            {% for screen in screens %}
                            <tr>
                              
                                <td> {{screen.description}} </td>
                                <td>{{screen.type}}</td>
                                <td>{{screen.ad_available}}</td>
                                <td>
                                    <input value="{{screen.id}}" readonly>
                                    <button href="#" id="Screen{{screen.auto_id}}" class="copy-button{{screen.auto_id}} btn btn-primary" data-clipboard-text="{{screen.id}}" onclick="copy($(this));">Copy</button>
                                    <!-- <button class="btn" onclick="copyToClipboard('{{screen.id}}')"> -->
                                </td>
                                
                            </tr>
                            {% endfor %}

                        </table>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Subscription Modal -->
      <!-- start sample display form modal -->
      <div class="modal fade" tabindex="-1" role="dialog" id="ViewSample">
        <div class="modal-dialog modal-dialog-scrollable">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title">Enter screen API token</h5>
              <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
            <div class="modal-body">
                <form method="get" align="center" action="/scr/dis">
                    <input class="form-control" name="uuid"  type="search" placeholder="Enter Screen UUID here ...">
                    <input class="btn btn-primary" type="submit" value="See sample display">
                </form>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <!-- End sample display Modal -->
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Welcome {{user}}</h2>
          <p>Manage Your Screens</p>
        </div>
    <section id="more-services" class="more-services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 d-flex align-items-stretch">
            <div class="card" style='background-image: url("../static/assets/img/WordPress-List-plugin.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="" data-toggle="modal" data-target="#myscreens">My Screens</a></h5>
                <p class="card-text">check your screens</p>
              </div>
            </div>
          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4 mt-md-0">
            <div class="card" style='background-image: url("../static/assets/img/March17.2017.jpg");' data-aos="fade-up" data-aos-delay="200">
              <div class="card-body">
                <h5 class="card-title"><a href="" data-toggle="modal" data-target="#NewScreen">Add a screen</a></h5>
                <p class="card-text">Wanna add one more screen?. Here you go {{user}}</p>
              </div>
            </div>

          </div>
          <div class="col-md-6 d-flex align-items-stretch mt-4">
            <div class="card" style='background-image: url("../static/assets/img/computer-display-flat-circle-icon-vector-9327085.jpg");' data-aos="fade-up" data-aos-delay="100">
              <div class="card-body">
                <h5 class="card-title"><a href="" data-toggle="modal" data-target="#ViewSample">Sample Display</a></h5>
                <p class="card-text">Have a look how our system works</p>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End of Services Section -->

{% endblock %}