{% extends 'Advertiser/base.html' %}

{% block content %}

    <ul>
    <section id="pricing" class="pricing">
      <div class="container">
        <div class="section-title">
          <h2>Choose Screens</h2>
             <div class="dropdown">
                 <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Filter
                </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <form method="get" align="center">
                    <input name="search" value="{{search}}" type="search">
                    <input value="Filter screens" type="submit">
                </form>
            </div>
            </div>
          <p>{{total_screens}} Screens available for your search</p>
        </div>
    <div class="row">
    {% for i in query_result %}

          <div class="col-lg-4 col-md-6 mt-4 mt-md-0">
            <div class="box recommended" data-aos="zoom-in" data-aos-delay="50">
              <h3>{{i.type}}</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>{{i.description}}</li>
                <li>{{i.address}}</li>
                <li>{{i.landmarks}}</li>
                <li class="na">Kharid le re deva</li>
              </ul>
              <div class="btn-wrap">
                <a href="/adv/publish/{{ad_id}}/{{i.auto_id}}" class="btn-buy">Publish</a>
              </div>
            </div>
          </div>

    {% endfor %}

      </div>
    </section><!-- End Pricing Section -->
    </ul>
{% endblock %}